<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.min.js"></script>
</head>
<body>
<div id="dv" style="width:500px;height: 400px"></div>
 <script>

     let et=echarts.init(dom=document.getElementById('dv'))
opt={
         title : {
                    text: '用户动态类型',
                    subtext: '数据来源: www.jianshu.com',
                    x:'center'
                },
         tooltip : {
                    trigger: 'item',
                    formatter: "{b} : {c} ({d}%)"
                },
            clockwise:true,
            legend: {
                    orient: 'vertical',
                    right: '10%',
                    data: {{ pkey|tojson }}
                },
            // color:['#FF6600','#EFE42A','#64BD3D'],
         series: [{
             name:'牛排',
             type:'pie',
             radius : '75%',
                        center: ['50%', '60%'],
             data:{{ da|tojson }}
         }]
        }
 //           将自定义选项对象与echarts对象进行配置
         et.setOption(opt)
  </script>
</body>
</html>
